<p id="notice"><%= notice %></p>

 <div class="container card">
      <br>
    <div class="container card">
      <br>
      <h4><b> Informações do Projeto <%= @project.id%> </b></h4>
        <br>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label ><b>Nome do Projeto:</b></label>
          <%= @project.name %>
        </div>
        <div class="form-group col-md-3">
          <label ><b>Data Início:</b></label>
          <%= @project.init_date.strftime("%d/%m/%Y") %>
        </div>
        <div class="form-group col-md-3">
          <label ><b>Data de fim:</b></label>
          <%= @project.end_date.strftime("%d/%m/%Y") %>  
        </div>
      </div>
    </div>

<div class="container card">
  <br>
  <h5>Atividades do Projeto</h5>
   <br>
    <table class="table table-bordered data-table" id="" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>ID do Projeto</th>
          <th>ID da Atividade</th>
          <th>Nome da Atividade</th>
          <th>Data Início</th>
          <th>Data de fim</th>
          <th>Finalizada?</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @project.activities.each do |activity| %>
          <tr>
            <td><%= activity.project_id %></td>
            <td><%= activity.id %></td>
            <td><%= activity.name %></td>
            <td><%= activity.init_date.strftime("%d/%m/%Y") %></td>
            <td><%= activity.end_date.strftime("%d/%m/%Y") %></td>
            <td><% if activity.finished %> Sim <%else%> Não <% end %></td>
            <td><%= link_to 'Ver', activity %></td>
            <td><%= link_to 'Editar', edit_activity_path(activity) %></td>
            <td><%= link_to 'Excluir', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

      <div class="col-xs-12 text-center">
          <%= link_to 'Nova Atividade', new_activity_path, class: 'btn btn-secondary' %>
      </div>
    </div>
 </div>


<%= link_to 'Voltar', projects_path %>
