<p id="notice"><%= notice %></p>

 <div class="container card">
      <br>
    <h4><b> Informações do Projeto </b></h4>
      <br>
  <div class="form-row">
    <div class="form-group col-md-12">
      <strong>Nome do Projeto:</strong>
      <%= @project.name %>

      <strong>Data Início:</strong>
      <%= @project.init_date.strftime("%d/%m/%Y") %>

      <strong>Data de fim:</strong>
      <%= @project.end_date.strftime("%d/%m/%Y") %>  
    </div>
  </div>

  <h5>Atividades</h5>

<table class="table table-bordered data-table" id="" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>ID do Projeto</th>
      <th>ID da Atividade</th>
      <th>Nome da Atividade</th>
      <th>Data Início</th>
      <th>Data de fim</th>
      <th>Finalizada?</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.activities.each do |activity| %>
      <tr>
        <td><%= activity.project_id %></td>
        <td><%= activity.id %></td>
        <td><%= activity.name %></td>
        <td><%= activity.init_date.strftime("%d/%m/%Y") %></td>
        <td><%= activity.end_date.strftime("%d/%m/%Y") %></td>
        <td><% if activity.finished %> Sim <%else%> Não <% end %></td>
        <td><%= link_to 'Ver', activity %></td>
        <td><%= link_to 'Editar', edit_activity_path(activity) %></td>
        <td><%= link_to 'Excluir', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <div class="col-xs-12 text-center">
      <%= link_to 'Nova Atividade', new_activity_path, class: 'btn btn-primary' %>
  </div>

</div>



<%= link_to 'Voltar', projects_path %>
